Flask
Flask-Login
Flask-WTF
WTForms
textstat
reportlab
transformers
torch
numpy
python-docx
PyMuPDF
pytesseract
SpeechRecognition
gTTS
pdf2image
scikit-learn
scipy
pandas
sentencepiece